html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    min-height: 100vh;
}
ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
    color: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*------------header*/

.detail-wrap {
    width: 100%;
    margin: 0 auto;
}

.header-wrap {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	background: white;
	z-index: 1;
}

.header-wrap .shadow {
	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.detail-con-wrap {
    max-width: 500px;
    margin: 100px auto 200px;
}

.detail-con {
	padding: 30px;
	margin-bottom: 50px;
}

.detail-con .detail-title {
	font-size: 30px;
	text-align: center;
	font-family: 'Poor Story', cursive;
	font-weight: 900;
	margin-bottom: 30px;
}

.detail-con button {
	border-radius: 4px;
	background: #E9AC8D;
	border-color: transparent;
	color: #fff !important;
	height: 40px;
	width: 100%;
}

.detail-con-wrap .detail-con-box {
    max-width: 600px;
	padding: 40px;
    margin: auto;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    color: #4a4a4a;
    display: block;
	height: 100vh;
	overflow-y: scroll;
}



a.level-item.is-sparta {
	text-decoration: none;
}


.detail-footer {
	width: 100%;
	background: #E9AC8D;
}

.detail-footer .footer-con {
	width: 100%;
}

.detail-footer .footer-con .footer-copyright {
	padding: 40px 0;
}


.detail-footer .footer-con .footer-copyright > ul {
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}

.detail-footer .footer-con .footer-sns {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	margin-left: 30px;
}

.detail-footer .footer-con .footer-sns > div {
	display: inline-block;
	margin-right: 30px;
	font-size: 26px;
}